<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta lang="en" />
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  </head>

  <body>
      <main class=".container-fluid">
        <h1>Resultats</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Match</th>
                <th scope="col">Equipes</th>
                <th scope="col">Score</th>
                <th scope="col">Type</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% for(let match of matches){ %>
              <tr>
                <th scope="row"><%= match.id %></th>
                <td><%= match.team1 %> - <%= match.team2 %></td>
                <td><%= match.team1_score %> - <%= match.team2_score %></td>
                <td><%= match.series_type %></td>
                <td><a href="/match/<%= match.id %>">Voir le détail</a></td>
              </tr>
              <% } %>
            </tbody>
          </table>
    </main>
  </body>
</html>
